@font-face {
  font-family: 'HelveticaCE';
  src: url("../fonts/HelveticaCE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-BoldItalic';
  src: url("../fonts/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_ceregular';
  src: url("../fonts/hv-webfont.woff2") format("woff2"), url("../fonts/hv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaCyr-Upright';
  src: url("../fonts/HelveticaCyr-Upright.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url("../fonts/Impact.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "HelveticaNeue", Helvetica, serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper:after {
  content: "";
  height: 105px;
  display: block;
}

footer {
  text-align: center;
  height: 105px;
  margin-top: -105px;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 70%;
}

@media screen and (max-width: 992px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 600px;
  }
}

ul {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.header {
  position: relative;
  height: 40.625rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
}

.header__wrapper {
  background: rgba(6, 181, 169, 0.36);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.fotorama__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
}

.header__background {
  background: url("../images/background/Layer 3.png") 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
}

/* ============== Header top ==============*/
.header__top {
  background: rgba(255, 255, 255, 0.94);
  height: 5.3125rem;
  color: #626262;
  width: 100%;
  z-index: 3;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.31);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.31);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__container {
  padding: 0px 1.25rem;
  height: 5.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ============== Header logo ==============*/
.logo-caption {
  font-size: 2.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #626262;
}

.logo-caption_blue {
  color: #06b5a9;
}

/* ============== Header menu ==============*/
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin-left: 3.125rem;
}

.header__item {
  position: relative;
  height: 100%;
  margin-left: 0.625rem;
}

.header__item:first-child {
  margin-left: 0;
}

.header__item:hover {
  background: #cf1a2b;
}

.header__item:hover .header__link {
  color: #fff;
  border-bottom: 1px solid #d94855;
}

.header__item_products:hover .submenu {
  left: 0;
}

@media screen and (max-width: 992px) {
  .header__item_products:hover .submenu {
    left: -280px;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 0.625rem;
  font-size: 1.125rem;
  color: #626262;
}

/* ============== header__basket ==============*/
.header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 1.875rem;
}

.header__basket-iamge {
  background: url("../images/decor/Shape_1.png") 0 0 no-repeat;
  width: 30px;
  height: 30px;
}

.header__basket-iamge::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  margin-left: 0.9375rem;
  border-top: 0.75rem solid #9d9d9d;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.header__basket-price {
  font-size: 1.5rem;
  color: #9d9d9d;
  margin-left: 0.625rem;
}

/* ============== Header__caption ==============*/
.header__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 566px;
}

.header__caption-intro {
  font-size: 1.375rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.875rem;
  text-align: center;
}

.header__caption-name {
  font-family: 'Impact';
  font-size: 7.25rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

/* ============== Header submenu ==============*/
.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37.8125rem;
  position: absolute;
  left: -9999999px;
  background: #cf1a2b;
  z-index: 1000;
}

.submenu__title {
  border-right: 1px solid #d94855;
}

.submenu__caption {
  padding: 0.625rem 2.1875rem 0.3125rem;
  border-bottom: 1px solid #d94855;
}

.logo-caption_submenu {
  color: #fff;
}

.logo-caption_pink {
  color: #fec8cd;
}

.submenu__logo {
  text-align: center;
  padding: 3.4375rem 4.375rem;
}

.submenu__list {
  padding: 0.9375rem 2.1875rem;
  border-right: 1px solid #d94855;
}

.submenu__list:last-child {
  border-right: 0;
}

.submenu__item {
  margin-bottom: 0.9375rem;
}

.submenu__item:last-child {
  margin-bottom: 0;
}

.submenu__link {
  display: inline-block;
  color: #fff;
  opacity: 0.72;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.submenu__link:hover {
  opacity: 1;
}

.sales {
  margin-bottom: 2.5rem;
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sales__item {
  width: 23%;
  margin-left: 0.9375rem;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.sales__item:first-child {
  margin-left: 0;
}

.sales__item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .sales__item {
    width: 48%;
    margin-bottom: 0.9375rem;
  }
  .sales__item:nth-child(2n+1) {
    margin-left: 0;
  }
}

.sales__item_activitee {
  background: #58dbd3;
}

.sales__item_ampersan {
  background: #e4ce9a;
}

.sales__item_bally {
  background: #ffa7ce;
}

.sales__item_off {
  background: #f2ca66;
}

.sales__link {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5625rem 1.25rem;
  color: #fff;
  line-height: 1.2;
  overflow: hidden;
}

.sales__link_off {
  padding: 0.3125rem 0.9375rem;
}

.sales__desc {
  width: 80%;
  word-wrap: normal;
}

.sales__caption {
  font-weight: bold;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}

.sales__firm {
  width: 60%;
  font-size: 1.1875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sales__price {
  color: #5e4c38;
  font-size: 3.0625rem;
  font-weight: bold;
  margin-top: auto;
  padding-top: 0.625rem;
}

.sales__caption_bally {
  margin-bottom: 0.3125rem;
}

.sales__image {
  position: absolute;
  left: 100%;
  top: 100%;
  -webkit-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
}

.sales__precent {
  font-weight: bold;
  font-size: 6.5625rem;
  text-align: center;
  line-height: 0.9;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

.sales__off, .sales__go {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.sales__go {
  display: inline-block;
  padding: 0.3125rem 0.9375rem;
  text-align: left;
  font-size: 1.625rem;
  background: #fff;
  color: #f2ca66;
  margin-left: -1.25rem;
  margin-bottom: 0.625rem;
  max-width: 65%;
}

.categories {
  position: relative;
  margin-bottom: 2.5rem;
  background: url("../images/background/Layer 6.png") center center no-repeat;
  background-size: cover;
  z-index: 1;
}

.categories__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(64, 6, 181, 0.36);
  z-index: -2;
}

.categories__container {
  margin-bottom: 1.5625rem;
}

.categories__caption {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  font-size: 7.25rem;
  text-align: center;
  color: #fff;
  padding-top: 2.1875rem;
}

.categories__list {
  height: 21.875rem;
  position: relative;
  overflow: hidden;
}

.categories__icons-item {
  position: absolute;
  left: 100%;
  width: 12.5rem;
  height: 12.5rem;
  background: #58dbd3;
  border-radius: 50%;
}

.categories__icons-item--low-opacity {
  background: rgba(88, 219, 211, 0.5);
}

.categories__icons-item--high-opacity {
  background: rgba(88, 219, 211, 0.8);
}

.categories__icons-item--1 {
  top: 1.875rem;
  left: -6.25rem;
  background-image: url("../images/decor/categories/Shape 11.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--2 {
  top: 0;
  left: 4.375rem;
  background-image: url("../images/decor/categories/Shape 10.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--3 {
  top: 5.3125rem;
  left: 13.75rem;
  background-image: url("../images/decor/categories/Shape 4.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--4 {
  top: 0;
  left: 23.75rem;
  background-image: url("../images/decor/categories/Shape 6.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--5 {
  top: 1.875rem;
  left: 34.375rem;
  background-image: url("../images/decor/categories/Shape 8.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--6 {
  top: 5.3125rem;
  left: 45rem;
  background-image: url("../images/decor/categories/Shape 10.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--7 {
  top: 0;
  left: 53.75rem;
  background-image: url("../images/decor/categories/Shape 4.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--8 {
  top: 7.5625rem;
  left: 61.875rem;
  background-image: url("../images/decor/categories/Shape 11.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--9 {
  top: 0;
  left: 69.375rem;
  background-image: url("../images/decor/categories/Shape 6.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--10 {
  top: 5.3125rem;
  left: 79.375rem;
  background-image: url("../images/decor/categories/Shape 10.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--11 {
  top: 1.875rem;
  left: 89.375rem;
  background-image: url("../images/decor/categories/Shape 8.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--12 {
  top: 5.3125rem;
  left: 99.375rem;
  background-image: url("../images/decor/categories/Shape 4.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__icons-item--13 {
  top: 0;
  left: 109.375rem;
  background-image: url("../images/decor/categories/Shape 11.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.jeans {
  margin-bottom: 2.5rem;
}

.jeans__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.jeans__logo {
  position: absolute;
  top: -56px;
  left: 0;
  width: 350px;
  height: 171px;
  z-index: 1;
  background: url("../images/decor/jeans/levis.png") center center no-repeat;
}

.jeans__logo::before {
  content: url("../images/decor/triangle_1.png");
  background: center center no-repeat;
  position: absolute;
  left: -14px;
  top: -1px;
}

.jeans__logo::after {
  content: url("../images/decor/triangle_2.png");
  background: center center no-repeat;
  position: absolute;
  right: -14px;
  top: -1px;
}

.jeans__desc {
  width: 75%;
  margin-top: 10.625rem;
  margin-left: 3.125rem;
}

.jeans__caption {
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.jeans__text {
  font-size: 0.875rem;
  margin-bottom: 1.875rem;
}

.jeans__purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .jeans__purchase {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.jeans__price {
  font-size: 2.25rem;
}

.jeans__price--bold {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .jeans__price {
    margin-bottom: 0.9375rem;
  }
}

.jeans__add {
  width: 14.0625rem;
  margin-left: auto;
  margin-right: 0.9375rem;
  padding: 0.4375rem 0.75rem;
  border: 1px solid #cf1a2b;
  color: #fff;
  background: #cf1a2b;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  outline: 0;
}

.jeans__add:hover {
  background: #fff;
  color: #cf1a2b;
}

.jeans__add:hover .jeans__add-image {
  background: url("../images/decor/Shape_2_red.png") center center no-repeat;
}

@media screen and (max-width: 992px) {
  .jeans__add {
    margin: 0;
  }
}

.jeans__add-image {
  display: inline-block;
  width: 29px;
  height: 26px;
  background: url("../images/decor/Shape_2.png") center center no-repeat;
  vertical-align: middle;
  margin-top: 0.3125rem;
}

.jeans__add-text {
  display: inline-block;
  margin-left: 0.625rem;
  vertical-align: top;
  font-size: 1.75rem;
}

.jeans__image {
  margin-left: 1.25rem;
  width: 60%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .jeans__image {
    margin-top: 33%;
  }
}

.jeans__image-item {
  max-width: 100%;
  max-height: 100%;
}

.similar {
  margin-bottom: 3.75rem;
}

.similar__container {
  padding: 0 1.25rem;
}

.similar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.similar__item {
  margin-left: 2%;
  width: 18%;
}

.similar__item:nth-child(5n+1) {
  margin-left: 0;
}

.similar__item:hover .similar__image {
  border: 1px solid #ff808c;
}

.similar__link {
  display: block;
  color: #626262;
}

.similar__image {
  width: 100%;
  height: 100%;
  border: 1px solid #cacaca;
  margin-bottom: 0.625rem;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.similar__image-item {
  max-width: 100%;
  max-height: 100%;
}

.similar__name {
  font-size: 1rem;
  text-align: center;
}

.footer {
  background: #1b2330;
}

.footer__container {
  padding: 0.9375rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__left {
  text-align: left;
  width: 50%;
}

.footer__right {
  text-align: right;
  width: 50%;
}

.copyright {
  color: #767b83;
}

.footer__list {
  margin-top: 0.625rem;
}

.footer__item {
  display: inline-block;
  width: 2.75rem;
  height: 2rem;
  margin-left: 2.1875rem;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__item_fb {
  background: url("../images/content/socials/fb.png") center center no-repeat;
}

.footer__item_fb:hover {
  background: url("../images/content/socials/fb_active.png") center center no-repeat;
}

.footer__item_tw {
  background: url("../images/content/socials/tw.png") center center no-repeat;
}

.footer__item_tw:hover {
  background: url("../images/content/socials/tw_active.png") center center no-repeat;
}

.footer__item_rss {
  background: url("../images/content/socials/rss.png") center center no-repeat;
}

.footer__item_rss:hover {
  background: url("../images/content/socials/rss_active.png") center center no-repeat;
}

.footer__link {
  display: block;
  width: 100%;
  height: 100%;
}
