.header {
    position: relative;
    height: remd(650px);
    margin-bottom: remd(40px);
    overflow: hidden;
}

.header__wrapper {
    background: rgba($color: #06b5a9, $alpha: 0.36);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.fotorama__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -3;
}

.header__background {
    background: url('../images/background/Layer 3.png') 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -3;
}



/* ============== Header top ==============*/

.header__top {
    background: rgba($color: #fff, $alpha: 0.94);
    height: remd(85px);
    color: $grey;
    width: 100%;
    z-index: 3;
    box-shadow: 3px 3px 3px rgba($color: #000, $alpha: 0.31);
    transition: 300ms;
}

.header__container {
    padding: 0 remd(20px);
    height: remd(85px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 0 remd(5px);
    }
}


/* ============== Header logo ==============*/

.logo-caption {
    font-size: remd(38px);
    font-weight: bold;
    text-transform: uppercase;
    color: $grey;
}

.logo-caption_blue {
    color: $lightblue;
}



/* ============== Header menu ==============*/

.header__menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: remd(50px);

    @include tablet {
        margin-left: remd(20px);
        margin-right: remd(10px);
    }

    @include phones {
        display: none;
    }
}

.header__item {
    position: relative;
    height: 100%;
    margin-left: remd(10px);

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        background: $red;

        .header__link {
            color: #fff;
            border-bottom: 1px solid #d94855;
        }
    }
}

.header__item_products {
    &:hover {
        .submenu {
            left: 0;
        }
    }

    @include laptop {
        &:hover {
            .submenu {
                left: -230px;
            }
        }
    }

    @include phones {
        &:hover {
            .submenu {
                left: -110px;
            }
        }
    }
}

.header__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 remd(10px);
    font-size: remd(18px);
    color: $grey;
}



/* ============== Header menu ==============*/

.header__menu-phone {
    display: none;
}



/* ============== header__basket ==============*/

@include tablet {
    .header__tablet-basket {
        position: fixed;
        top: 50%;
        left: 0;
        margin-bottom: 15px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 50px;
        height: 90px;
        background: rgba($color: #fff, $alpha: 0.5);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 999;
        transition: 300ms;

        &:hover {
            background: rgba($color: #fff, $alpha: 1);
            cursor: pointer;
            justify-content: flex-start;
            height: 100%;
            width: 80%;
            top: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            .header__tablet-basket-image {
                margin-left: remd(10px);

                &::before {
                    opacity: 0;
                }
            }
        }
    }

    .header__tablet-basket-image {
        position: fixed;
        z-index: 1000;
        background: url('../images/decor/Shape_1.png') 0 0 no-repeat;
        width: 30px;
        height: 30px;

        &::before {
            content: "";
            position: absolute;
            top: 42%;
            left: 83%;
            transform: translateY(-6px);
            margin-left: remd(15px);
            border-top: remd(12px) solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #9d9d9d;
            border-right: 10px solid transparent;
            transition: 300ms;
        }
    }
}


.header__basket {
    display: flex;
    position: relative;
    margin-right: remd(30px);

    @include tablet {
        display: none;
    }

    &:hover .header__basket-image::after {
        left: 90%;
        top: 40%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: remd(12px) solid #9d9d9d;
    }
}

.header__basket-image {
    background: url('../images/decor/Shape_1.png') 0 0 no-repeat;
    width: 30px;
    height: 30px;

    &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-6px);
        margin-left: remd(15px);
        border-top: remd(12px) solid #9d9d9d;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        transition: 300ms;

        @include laptop {
            margin-left: remd(5px);
        }
    }
}

.header__basket-price {
    font-size: remd(24px);
    color: #9d9d9d;
    margin-left: remd(10px);
}



/* ============== Header__caption ==============*/

.header__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 566px;


}

.header__caption-intro {
    font-size: remd(22px);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: remd(30px);
    text-align: center;

    @include phones {
        margin-left: remd(20px);
    }
}

.header__caption-name {
    font-family: 'Impact';
    font-size: remd(116px);
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}



/* ============== Header submenu ==============*/

.submenu {
    display: flex;
    width: remd(605px);
    position: absolute;
    left: -9999999px;
    background: $red;
    z-index: 1000;

    @include phones {
        width: remd(390px);
    }
}

.submenu__title {
    border-right: 1px solid #d94855;

    @include phones {
        display: none;
    }
}

.submenu__caption {
    padding: remd(10px) remd(35px) remd(5px);
    border-bottom: 1px solid #d94855;
}

.logo-caption_submenu {
    color: #fff;
}

.logo-caption_pink {
    color: #fec8cd;
}

.submenu__logo {
    text-align: center;
    padding: remd(55px) remd(70px);
}

.submenu__list {
    padding: remd(15px) remd(35px);
    border-right: 1px solid #d94855;

    &:last-child {
        border-right: 0;
    }
}

.submenu__item {
    margin-bottom: remd(15px);

    &:last-child {
        margin-bottom: 0;
    }
}

.submenu__link {
    display: inline-block;
    color: #fff;
    opacity: 0.72;
    transition: 300ms;

    &:hover {
        opacity: 1;
    }
}